################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SamCheng.PinyinHelper
/bin
/C#_转注音字典
/obj/Debug
/.gitattributes
